<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee   http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>encoding</filter-name>
		<filter-class>
			org.lxh.myzngt.filter.EncodingFilter
		</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>gbk</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encoding</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>userlogin</filter-name>
		<filter-class>
			org.lxh.myzngt.filter.UserLoginFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userlogin</filter-name>
		<url-pattern>/jsp/user/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>userlogin</filter-name>
		<url-pattern>/jsp/ques/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>adminlogin</filter-name>
		<filter-class>
			org.lxh.myzngt.filter.AdminLoginFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminlogin</filter-name>
		<url-pattern>/jsp/admin/*</url-pattern>
	</filter-mapping>
	<filter>
		<filter-name>opensession</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>opensession</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/classes/applicationContext.xml
		</param-value>
	</context-param>
	<servlet>
		<servlet-name>context</servlet-name>
		<servlet-class>
			org.springframework.web.context.ContextLoaderServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>3</param-value>
		</init-param>
		<init-param>
			<param-name>detail</param-name>
			<param-value>3</param-value>
		</init-param>
		<load-on-startup>0</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>

